.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*  2021-07-12 공생공사  */
/* main layout */

.footer-flex{
  margin-top: auto;
}



/* 모바일 */
.mo_width{
max-width: 768px;
margin-right: auto;
margin-left: auto;
}

.main_btn_box::after{
  content: '';
  display: block;
  clear: both;

}
.main_btn_box li{
  float: left;
  width: 50%;
  padding: 0.5rem;
  text-align: center;
}
.main_btn_box .main_btn{
  width: 100%;
  padding: 2rem;
  background-color: #DAD6D6;
  border-radius: 20px;
  border: none;
}

.btn-round {
  border-radius: 100px;
}
.btn-skyblue {
color: #ffffff;
background-color: #32D1FF;
border: none;
padding: 0.5rem 1rem;
}



/*     메인 푸터      */
.foot-nav{
  background: #fff;
  border-top: .1rem solid #e6e6e6;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
}

.foot-nav-box{
  width: 100%;
  max-width: 76.8rem;
  height: 4rem;
  display: -webkit-flex;
  display: flex;
  margin: 0 auto;
  max-width: 768px;
}
.foot-nav-item{
  width: 4rem;
  height: 2rem;
  background: 50% no-repeat;
  background-size: contain;
  margin: 0 auto;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: inherit;
}
.foot-nav-text{
  font-size: 0.8rem;
  font-weight: 500;
  margin-top: .2rem;
}
/* .foot-nav-img1{
  background-image: url('assets/fnav_1.png');
}
.foot-nav-img2{
  background-image: url('assets/fnav_2.png');
}

.foot-nav-img3{
  background-image: url('assets/fnav_3.png');
}
.foot-nav-img4{
  background-image: url('assets/fnav_4.png');
} */

.foot-nav-tab{
  text-align: center;
  width: 25%;
}


/* 부트스트랩 */

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif,"Noto Sans KR";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.428571;
  color: #404040;
  text-align: left;
  background-color: #EEEEEE;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
  text-decoration-skip-ink: none;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
  list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

a {
  color: #4285f4;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0d5bdd;
  text-decoration: underline;
}

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}

a:not([href]):not([tabindex]):focus {
  outline: 0;
}

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
}

figure {
  margin: 0 0 1rem;
}

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 12px 10px;
  padding-bottom: 12px 10px;
  color: #878787;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

button {
  border-radius: 0;
}

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

select {
  word-wrap: normal;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button:not(:disabled),
[type="button"]:not(:disabled),
[type="reset"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.5rem;
  font-weight: 300;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 2.539rem;
}

h2, .h2 {
  font-size: 2.077rem;
}

h3, .h3 {
  font-size: 1.769rem;
}

h4, .h4 {
  font-size: 1.308rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: 0.923rem;
}
.btn-blue {
  color: #ffffff;
  background-color: #007AFE;
  border: none;
  padding: 0.5rem 1rem;
}

.btn-blue:hover {
  color: #ffffff;
  background-color: #0072ed;
  border-color: #007bff;
}

.btn-blue:focus, .btn-blue.focus {
  color: #ffffff;
  background-color: #0072ed;
  border-color: #007bff;
  box-shadow: 0 0 0 1px rgba(129, 147, 194, 0.515);
}

.btn-blue.disabled, .btn-blue:disabled {
  color: #ffffff;
  background-color: #007AFE;
  border-color: #007AFE;
}

.btn-blue:not(:disabled):not(.disabled):active, .btn-blue:not(:disabled):not(.disabled).active,
.show > .btn-blue.dropdown-toggle {
  color: #ffffff;
  background-color: #0072ed;
  border-color: #007bff;
}

.btn-blue:not(:disabled):not(.disabled):active:focus, .btn-blue:not(:disabled):not(.disabled).active:focus,
.show > .btn-blue.dropdown-toggle:focus {
  box-shadow: 0 0 0 1px rgba(129, 147, 194, 0.515);
}
